:root{
    /*colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #FFE9D5;
    --secundary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}


header img{
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header-title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;

}
.header-title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header-title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header-title-container .header-button{
    position: absolute;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    top: 270px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    padding: 15px;
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header-button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    
}
.main-tables-container{
    display: flex;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;
}
.main-exchange-container-title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;

}
.background-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);

}
.main-exchange-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-currency-tab{
    scroll-snap-align: center;

    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    display: inline-block;

}
.main-currency-tab .currency-table-title{
    color: var(--bitcoin-orange);
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-left: 20%;
    width: 30%;
    max-width: 100px;
    min-width: 100px;

}
.currency-table-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
    

}
.currency-table-container table{
    width: 100%;
    height: 100%;
}
.currency-table-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency-table-container .table__top-left {
    border-radius: 15px 0 0 0;
}
.currency-table-container .table__top-rigth{
    border-radius: 0 15px 0 0;
}
.currency-table-container .table__bottom-left{
    border-radius: 0 0 0 15px;
}
.currency-table-container .table__bottom-rigth{
    border-radius: 0 0 15px 0;
}
.currency-table-container .table__rigth{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;

}
.currency-table-container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table-date
{
    width: 190px;
    height: 30px;
    background-color: var(--soft-orange);
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    padding: 8px;
    
}
.currency-table-date p{
    font-size: 1.2rem;
    color: var(--warm-black);
    line-height: 1.5rem;
}
.tab-2{
    width: 70%;
    min-width: 235px;
    scroll-snap-align: center;

    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    display: block;
}
.tab-2 .tab-2-title{
    color: var(--secundary-blue);
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-left: 20%;
    width: 30%;
    max-width: 100px;
    min-width: 100px;
}
.tab-2-container table{
    width: 100%;
    height: 100%;
}
.tab-2-container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.tab-2-container .top-left{
    border-radius: 15px 0 0 0;
}
.tab-2-container .top-rigth {
    border-radius: 0 15px 0 0;
}
.tab-2-container .bottom-left{
    border-radius: 0 0 0 15px;
}
.tab-2-container .bottom-rigth{
    border-radius: 0 0 15px 0;
}
.tab-2-container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.tab-2-container .table-rigth{
    color: #757575;
    font-weight: 500;
}
.tab-2-container .tab-2-footer{
    width: 190px;
    height: 30px;
    background-color: var(--soft-blue);
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 20px;
}
.tab-2-container .tab-2-footer p{
    font-size: 1.2rem;
    color: var(--warm-black);
    line-height: 1.5rem;
}
.descripcion{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.potato{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('./assets/icons/batata.svg');
}
.descripcion .titulo-producto{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.titulo-producto h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.titulo-producto p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.tarjeta-detalle{
    width: 90%;
    min-width: 288;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    height: auto;
}
.tarjeta-detalle .reloj{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tarjeta-detalle .title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.tarjeta-detalle .contenido{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.tarjetas{
    display: block;
    height: auto;
}
.tarjeta-2{
    width: 90%;
    min-width: 288;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    height: auto;
}
.tarjeta-2 .t2-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.tarjeta-2 .t2-content{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.ojo{
    background-image: url('./assets/icons/eye.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tarjeta-3{
    width: 90%;
    min-width: 288;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.tarjeta-3 .t3-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.tarjeta-3 .t3-content{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.t3-dolar{
    background-image: url('./assets/icons/dollar-sign.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tarjeta-4{

    width: 90%;
    min-width: 288;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color:var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    height: auto;
}
.tarjeta-4 .t4-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.tarjeta-4 .t4-content{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.t4-check{
    background-image: url('./assets/icons/check-circle.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.comodin{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.comodin h2{
    padding-top: 40px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
   
}
.contenedor-planes{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    display: block;
}
.titulo-planes{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.titulo-planes h2{
    padding-top: 50px ;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.titulo-planes p{
    padding-top: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plan-1{
    position: relative;
    scroll-snap-align: center;

    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}
.recomendado{
    position: absolute;
    width: 120px;
    left: calc(50% - 60px);
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
}
.p1-pago{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.p1-costo{
    padding-top: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--black);
}
.p1-costo span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.p1-ahorro{
    font-size: 1.2rem;
    color: #757575;
}
.p1-boton{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;

}
.p1-boton span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    
    vertical-align: text-bottom;
}
.plan-2{

    scroll-snap-align: center;
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}
.estandar{
position: absolute;
    width: 120px;
    left: calc(50% - 60px);
    height: 31px;
    background-color: var(--secundary-blue);
    border-radius: 8px;
    color: var(--just-white);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
}
.p2-pago{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.p2-costo{
    padding-top: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--black);
}
.p2-costo span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.p2-ahorro{
    font-size: 1.2rem;
    color: #757575;
}
.p2-boton{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}
.p2-boton span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    
    vertical-align: text-bottom;
}

.plan-3{

    position: relative;
    scroll-snap-align: center;

    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 10px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}
.gratuito{
position: absolute;
    width: 120px;
    left: calc(50% - 60px);
    height: 31px;
    background-color: var(--warm-black);
    border-radius: 8px;
    color: var(--just-white);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
}
.p3-pago{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}
.p3-costo{
    padding-top: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--black);
}
.p3-costo span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}
.p3-ahorro{
    font-size: 1.2rem;
    color: #757575;
}
.p3-boton{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    font-family: 'DM Sans', sans-serif;
}
.p3-boton span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    
    vertical-align: text-bottom;
}
.slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;
}
footer{
    display: flex;
    width: 100%;
    width: auto;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer .left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li{
    margin: 10px 0;

}
.left a{
    text-decoration: none;
    color: var(--just-white);
}